absl-py==0.11.0
addict==2.2.1
APScheduler==3.6.3
argcomplete==1.12.1
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
boto==2.49.0
Brotli==1.0.9
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
click==7.1.2
co2-tracker-utils==0.1.0
codecarbon==1.0.0
colorama==0.4.4
comet-git-pure==0.19.16
comet-ml==3.3.2
configobj==5.0.6
crcmod==1.7
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.21
dash==1.15.0
dash-bootstrap-components==0.10.5
dash-core-components==1.11.0
dash-html-components==1.1.0
dash-renderer==1.7.0
dash-table==4.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
dulwich==0.20.11
entrypoints==0.3
everett==1.0.2
fasteners==0.15
fire==0.3.1
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
gast==0.3.3
gcs-oauth2-boto-plugin==2.7
google-apitools==0.5.31
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
google-reauth==0.1.0
grpcio==1.33.2
gsutil==4.54
h5py==2.10.0
httplib2==0.18.1
hydra-core==0.11.3
idna==2.10
imageio==2.9.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras-Preprocessing==1.1.2
keras-tuner==1.0.2
kiwisolver==1.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
mock==2.0.0
monotonic==1.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
netifaces==0.10.9
networkx==2.5
noise==1.2.2
notebook==6.1.4
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
omegaconf==1.4.1
opencv-python==4.4.0.42
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.3
parso==0.7.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.9.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
protobuf==3.14.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.4
pyJoules==0.5.1
pynvml==8.0.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyRAPL==0.2.3.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytorch-fid-wrapper==0.0.1
pytorch-ranger==0.1.1
pytz==2020.1
pyu2f==0.1.4
pywatch==0.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retry-decorator==1.1.1
retrying==1.3.3
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
torch==1.7.0
torch-optimizer==0.0.1a15
torchvision==0.8.1
tornado==6.0.4
tqdm==4.48.2
traitlets==5.0.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.1
